<div class="blank-space"></div>
<div class="card shadow text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link title active" >Editar pregunta</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6 offset-3">
        <form form class="border border-light" [formGroup]="myForm"  novalidate>
          <div class="form-group" >
              <input type="text" id="idtipocuestionario" name="idtipocuestionario" class="form-control" 
              [(ngModel)]="pregunta.idtipocuestionario" hidden formControlName="idtipocuestionario" required>
          </div>
          <div class="form-group" >
              <label class="">Pregunta</label><br>
              <input type="text" id="preguntatxt" name="preguntatxt" class="form-control" 
              [(ngModel)]="pregunta.preguntatxt" formControlName="preguntatxt" required placeholder="Pregunta">
          </div>
          <div class="form-group">
            <label class="">Tipo de respuesta</label><br>
            <select class="form-control" id="tiporespuesta" name="tiporespuesta"
            [(ngModel)]="pregunta.tiporespuesta" formControlName="tiporespuesta" required>
              <option value="1">Abierta</option>
              <option value="2">Calificar del 1-5</option>
              <option value="3">Verdadero/Falso</option>
            </select>
          </div>
                    
          <div class="form-group">
            <button [disabled]="myForm.invalid" (click)="this.editarpregunta()"
            class="btn-success-alt-sm btn-block">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="blank-space"></div>