<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" [routerLink]="['menu']"><img style="height: 50px; width: 50px;" src="assets/icons/icon-72x72.png" alt="Parallax"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngFor="let up of usuarioprincipal">
    <ul class="navbar-nav mr-auto" *ngIf="up.id !=  0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['menu']" style="font-weight: 700;">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngIf="up.tipo ==  'Administrador'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['listausuario']" routerLinkActive="router-link-active">Internos</a>
          <a class="dropdown-item" [routerLink]="['listausuariosolocliente']" routerLinkActive="router-link-active">Externos</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="up.tipo ==  'Administrador'">
        <a class="nav-link" [routerLink]="['listaempresa']" routerLinkActive="router-link-active">Empresas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['listacuestionario']" routerLinkActive="router-link-active">Auditorías</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="up.id !=  0">
      <button (click)="cerrarSesion()" type="button" class="btn-danger-alt">
        Cerrar sesion
      </button>
    </form>
  </div>
</nav>