
<div class="card text-center shadow margin-top-5 margin-bot-5">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link title active">Cuestionarios</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="blank-space-sm"></div>
      <div class="row">
        
        <div class="d-block d-lg-none blank-space-sm"></div>
        <div class="col-12 col-lg-2 offset-lg-9">
          <button class="btn-success-alt btn-block shadow" data-toggle="modal" data-target="#addUser"> +
          </button>
        </div>
      </div>
      <div class="blank-space-sm"></div>
    <div *ngFor="let up of usuarioprincipal">
    <div *ngIf="up.id !=  0"> 
        

<table  id="customers">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre del tipo cuestionario</th>

      <th *ngIf="up.tipo ==  'Administrador' " scope="col">Eliminar</th>
      <th *ngIf="up.tipo ==  'Administrador' " scope="col">Editar</th>
      <th *ngIf="up.tipo ==  'Administrador' " scope="col">Agregar pregunta</th>
    </tr>
  </thead>
  <tbody>
      
      <tr *ngFor="let quiss of cuestionario">
             <td>
                {{quiss.id}}
            </td>

      <td> 
     {{quiss.nombretipocuestionario}}
      </td>
  
      <td *ngIf="up.tipo ==  'Administrador' ">
              <button (click)='this.eliminarquis(quiss.id)' type="button" class="btn-danger-alt">
                  Eliminar
              </button>
        </td>

        <td  *ngIf="up.tipo ==  'Administrador' ">
                <button (click)='this.editarquis(quiss.id)' type="button" class="btn-primary-alt">
                    Editar
                </button>
          </td>

          <td  *ngIf="up.tipo ==  'Administrador' ">
            <button (click)='this.agregarquis(quiss.id)' type="button" class="btn-success-alt-sm">
                Agregar preguntas
            </button>
      </td>

    </tr>
  </tbody>
</table>


      </div>
      </div>
  </div>
</div>

<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title question" id="addUserLabel">Agregar Cuestionario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulario de registro -->
        <form form class="p-5" [formGroup]="myForm"  novalidate>

          <div class="form-group">
            <label  class="">Nombre del Tipo de Auditoria</label><br>
              <input type="text" id="nombretipocuestionario" name="nombretipocuestionario" class="form-control" 
              [(ngModel)]="cuestionario1.nombretipocuestionario" placeholder="Nombre del Cuestionario"
                formControlName="nombrecuestionario" >
          </div>

          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-danger-alt" data-dismiss="modal">Cancelar</button>
        <button  [disabled]="myForm.invalid" (click)="this.agregarcuestionario()"
        type="button" class="btn-success-alt-sm">Agregar</button>
        </div>
      </div>
    </div>
</div>

