

<div *ngIf="preguntas !=  ''">  





</div>
<!-- =========================================-->

<div>
  <div class="blank-space"></div>
  <div class="card shadow ">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link title noselect active" >
            Responder
          </a>
        </li>                   
      </ul>
    </div>
    <div  class="card-body">
      <div class="blank-space-sm"></div>
      <div class="row">
        <div class="col-12">
          <form  #form="ngForm" form class="border border-light p-5"  novalidate>
 
            <div *ngFor="let preg of preguntas">  
                <label class="question">  {{preg.preguntatxt}}</label><br>  
                <div class="form-group col-md-6" >
                    <input type="text" id="idrespuesta" name="idrespuesta[]" class="form-control  datoInput2" 
                    value="{{preg.id}}"  required placeholder="Respuesta" hidden>
                 </div>  
                
                <div *ngIf="preg.tiporespuesta ==  '1'">  
                  
                  <div class="form-group " >
                        <input type="text" id="respuesta" name="respuesta[]" class="form-control  datoInput" 
                        [(ngModel)]="preg.respuesta"  required placeholder="Respuesta">
                    </div>
                    </div>
        
        
                    <div *ngIf="preg.tiporespuesta ==  '2'"> 
              
        
              
                        <div class="form-group " >
                            <input type="number" id="respuesta" name="respuesta[]" class="form-control  datoInput" 
                            [(ngModel)]="preg.respuesta"  required min="1" max="5">
                        </div>
                </div>
        
        
        
                  <div *ngIf="preg.tiporespuesta ==  '3'">           
        
        
                      <div class="form-group ">
                          <select class="form-control datoInput" id="respuesta" name="respuesta[]"
                          [(ngModel)]="preg.respuesta" required >
                            <option value="Verdadero">Verdadero</option>
                            <option value="Falso">Falso</option>
                          </select>
                        </div>
                        </div>
               </div>
         
               <div  *ngIf="preguntas !=  ''">
                  <button [disabled]="!form.form.valid" (click)="this.terminarformu()"
                  class="btn-success-alt-sm ">Responder</button>
                 </div>               
        
        </form>
        </div>
      </div>
    </div>   
  </div>
  <div class="blank-space-sm"></div>
</div> 
