       <div class="blank-space"></div>
        <div class="card shadow ">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link title noselect active" >Lista de auditorias</a>
              </li>                   
            </ul>
          </div>
          <div  class="card-body">
            <div class="blank-space-sm"></div>
            <div class="row">
              <div class="col-8 col-lg-8">
                  <input class="form-control" type="search" placeholder="Buscar" aria-label="Escribe para buscar">
              </div>
              <div class="col-4 col-lg-2">
                <button class="btn-black-alt btn-block shadow"><i class="fa fa-search"></i>buscar</button>
              </div>
              <div class="d-block d-lg-none blank-space-sm"></div>
              <div class="col-12 col-lg-2">
                <button class="btn-success-alt btn-block shadow" data-toggle="modal" data-target="#addUser">
                 +
                </button>
              </div>
            </div>
            <div class="blank-space-sm"></div>
            <div *ngIf="usuarioprincipal[0].id !=  0">        

              <table  id="customers">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cuestionario</th>
                    <th scope="col">Creador</th>
                    <th scope="col">Auditor</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Area</th>
              
                    <th *ngIf="usuarioprincipal[0].tipo ==  'Administrador' " scope="col">Eliminar</th>
                    <th *ngIf="usuarioprincipal[0].tipo ==  'Administrador' " scope="col">Editar</th>
                    <th  *ngIf="usuarioprincipal[0].tipo ==  'Administrador' " scope="col">Agregar preguntas</th>
                    <th  *ngIf="usuarioprincipal[0].tipo ==  'Administrador'  || usuarioprincipal[0].tipo ==  'Auditor' " scope="col">Responder cuestionario</th>
                    <th scope="col">Resultados</th>
                    
                  </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let quiss of cuestionario">
                           <td>
                              {{quiss.id}}
                          </td>
              
                    <td> 
                   {{quiss.nombrecuestionario}}
                    </td>
              
                  <td>
                    {{quiss.creador}}
                </td>
              
                   <td>
                    {{quiss.usernameauditor}}
                </td>
              
                <td>
                {{quiss.empresa}}
              </td>
              
              <td>
              {{quiss.departamento}}
              </td>
                
                    <td *ngIf="usuarioprincipal[0].tipo ==  'Administrador' ">
                            
                            <button (click)='this.eliminarquis(quiss.id)' type="button" class=" btn-danger-alt ">
                                Eliminar
                            </button>
                            
                      </td>
              
                      <td  *ngIf="usuarioprincipal[0].tipo ==  'Administrador' ">
                              <!-- (click)='this.editarquis(quiss.id)' -->
                              <button  data-toggle="modal" data-target="#update" (click)='this.pasarInfo(quiss,quiss.id)'   type="button" class=" btn-info-alt ">
                                  Editar
                              </button> 
                            
                        </td>
              
                        <td  *ngIf="usuarioprincipal[0].tipo ==  'Administrador'">
                                
                                    <div *ngIf="quiss.terminareditarcuestionario ==  '1'">
                                      <!-- (click)='this.agregarpregunta(quiss.id, quiss.nombrecuestionario)'  -->
                                <button data-toggle="modal" data-target="#AgregarPreguntas" (click)="GetID(quiss.id)"
                                type="button" class=" btn-success-alt-sm ">
                                    Agregar  
                                </button>
                              </div>
                              <div *ngIf="quiss.terminareditarcuestionario !=  '1'" class="badge badge-success text-wrap">
                                  Agregado
                                </div>
                              
                          </td>
              
                          <td *ngIf="usuarioprincipal[0].tipo ==  'Administrador' || usuarioprincipal[0].tipo ==  'Auditor' ">
                                  
                                      <div *ngIf="quiss.terminareditarcuestionario ==  '2' && quiss.terminado ==  '1' ">
                                  <button (click)='this.responderquiss(quiss.id, quiss.nombrecuestionario)' type="button" class="btn-warning-alt">
                                      Responder
                                  </button>
                                  </div>
                                  <div *ngIf="quiss.terminareditarcuestionario !=  '2' || quiss.terminado !=  '1' "
                                  class="badge badge-primary text-wrap">
                                      ...
                                      </div>
                                  
                            </td>
              
                            <td>
                                    <div *ngIf=" quiss.terminado !=  '1' ">
                                        <button (click)='this.veresul(quiss.id, quiss.nombrecuestionario)'
                                         type="button" class=" btn-info-alt " >
                                           Ver
                                        </button>
                                        </div>
                                        <div *ngIf=" quiss.terminado ==  '1' ">
                                         N/A
                                          </div>
                              </td>
                  </tr>
                </tbody>
              </table>
              
              
                    </div>
                    </div>
                    <div>
          </div>   
        </div>
        <div class="blank-space"></div>
      
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addUserLabel">Encabezado de auditoria</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               
              </button>
            </div>
            <div class="modal-body">
              
              <form form class="border border-light p-5" [formGroup]="myForm"  novalidate>
                <div class="form-group " >
                   <label >Nombre de la auditoria</label><br>
                   <input type="text" id="nombrecuestionario" name="nombrecuestionario" class="form-control" 
                   [(ngModel)]="cuestionario2.nombrecuestionario" placeholder="Nombre"
                   formControlName="nombrecuestionario">
                </div>
                <div class="form-group ">
                  <label >Nombre de la empresa</label><br>
                  <select class="form-control" id="empresa" name="empresa"
                   [(ngModel)]="cuestionario2.empresa" formControlName="empresa" >
                    <option *ngFor="let emp of empresa" [value]="emp.nombre">
                      {{emp.nombre}}
                    </option>
                  </select>
                </div> 
                <div class="form-group " >
                  <label >Nombre del departamento</label> <br> 
                  <input type="text" id="departamento" name="departamento" class="form-control" 
                  [(ngModel)]="cuestionario2.departamento" placeholder="Departamento"
                  formControlName="departamento">
                </div>
                 <div class="form-group ">
                   <input type="text" id="idcreador" name="idcreador" class="form-control" 
                   [(ngModel)]="idcreador" formControlName="idcreador" type="hidden">
                 </div> 
                    <div class="form-group ">
                        <label >Auditor</label> <br>
                        <select class="form-control" id="usernameauditor" name="usernameauditor"
                         [(ngModel)]="cuestionario2.usernameauditor" formControlName="usernameauditor" >
                          <option *ngFor="let usuario of usuarios" [value]="usuario.username">
                            {{usuario.nombre}} {{usuario.apellidop}} {{usuario.apellidom}} ( {{usuario.tipo}} )
                          </option>
                        </select>
                      </div>           
                      
           </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-danger-alt" data-dismiss="modal">Cancelar</button>
              <button   [disabled]="myForm.invalid"  (click)="this.agregarcuestionario()"
              type="button" class="btn-success-alt-sm">Agregar</button>
              </div>
            </div> 
        </div>
</div>

<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateLabel">Actualizar encabezado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         
        </button>
      </div>
      <div class="modal-body">
        
        <form form class="border border-light p-5" [formGroup]="myForm2"  novalidate>
          <div class="form-group " >
             <label >Nombre de la auditoria</label><br>
             <input type="text" id="nombrecuestionario" name="nombrecuestionario" class="form-control" 
             [(ngModel)]="cuestionario3.nombrecuestionario" placeholder="Nombre"
             formControlName="nombrecuestionario">
          </div>
          <div class="form-group ">
            <label >Nombre de la empresa</label><br>
            <select class="form-control" id="empresa" name="empresa"
             [(ngModel)]="cuestionario3.empresa" formControlName="empresa" >
              <option *ngFor="let emp of empresa" [value]="emp.nombre">
                {{emp.nombre}}
              </option>
            </select>
          </div> 
          <div class="form-group " >
            <label >Nombre del departamento</label> <br> 
            <input type="text" id="departamento" name="departamento" class="form-control" 
            [(ngModel)]="cuestionario3.departamento" placeholder="Departamento"
            formControlName="departamento">
          </div>
           <div class="form-group ">
             <input type="text" id="idcreador" name="idcreador" class="form-control" 
             [(ngModel)]="idcreador" formControlName="idcreador" type="hidden">
           </div> 
              <div class="form-group ">
                  <label >Auditor</label> <br>
                  <select class="form-control" id="usernameauditor" name="usernameauditor"
                   [(ngModel)]="cuestionario3.usernameauditor" formControlName="usernameauditor" >
                    <option *ngFor="let usuario of usuarios" [value]="usuario.username">
                      {{usuario.nombre}} {{usuario.apellidop}} {{usuario.apellidom}} ( {{usuario.tipo}} )
                    </option>
                  </select>
                </div>           
                
     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-danger-alt" data-dismiss="modal">Cancelar</button>
        <button   [disabled]="myForm2.invalid"  (click)="this.editarcuestionario()"
        type="button" class="btn-success-alt-sm">Agregar</button>
        </div>
      </div> 
  </div>
</div>



<div class="modal fade" id="AgregarPreguntas" tabindex="-1" role="dialog" aria-labelledby="AgregarPreg" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AgregarPreg">Adjuntar cuestionario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         
        </button>
      </div>
      <div class="modal-body">
        
        <form  #form="ngForm"  novalidate>           
          <div class="row">
          <div class="form-group col-md-12">
              <div class="col">
                  <label  class=" ">Tipo cuestionario</label><br>
                <select class="form-control" id="id" name="id"
                 [(ngModel)]="idelcuestionario" (ngModelChange)="this.verpreguntas()">
                 <option  value="null">
                  
                </option>
                 <option *ngFor="let cues of tipocuestionarios" [value]="cues.id">
                    {{cues.nombretipocuestionario}}
                  </option>
                </select>
              </div>              
          </div>

          
      </div>            
       </form>
       
        <div >

    <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-12">
                        <div id="login-box" class="col-md-12">
<form  form class="border border-light ">
    <div *ngFor="let preg of cuestionariomodel">  

            <div  >
                    <label class=" ">{{preg.preguntatxt | uppercase}}</label>
                    <input type="text" id="preguntatxt" name="preguntatxt[]" class="form-control datoInput" 
                    value="{{preg.preguntatxt}}"  hidden required placeholder="Pregunta" style="    display: contents;">
                 </div>

                 <div class=" " >
                 <input type="text" id="tiporespuesta" name="tiporespuesta[]" class="form-control datoInput2" 
                    value="{{preg.tiporespuesta}}" hidden required style="    display: contents;">
                 </div>

                 <div *ngIf="preg.tiporespuesta ==  '1'">  
                        <div class=" " >
                           <input type="text" id="respuesta1" name="respuesta1" class="form-control" 
                            placeholder="Respuesta" style="    display: contents;">
                        </div>
                        </div>
            
                        <div *ngIf="preg.tiporespuesta ==  '2'">
            
                            
                                    <div class=" " >
                                            <input type="number" id="respuesta1" name="respuesta1" class="form-control" 
                                              required min="1" max="5" style="    display: contents;" style="    display: contents;">
                                        </div>
                                        
                
                        </div>
            
                      <div *ngIf="preg.tiporespuesta ==  '3'">           
            
                            <div class=" ">
                                <select class="form-control" id="respuesta1" name="respuesta1"
                                style="    display: contents;"
                                 >
                                  <option value="Verdadero">Verdadero</option>
                                  <option value="Falso">Falso</option>
                                </select>
                              </div>
                            </div>


   
    </div>            
   

</form>


                        </div>
                    </div>
                </div>
            </div>
    </div>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-danger-alt" data-dismiss="modal">Cancelar</button>
        <button   (click)="this.terminarformu()"
        class=" btn-success-alt " [disabled]="!form.form.valid">Agregar</button>
        </div>
      </div> 
  </div>
</div>