<div class="blank-space"></div>
<div class="card shadow ">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link title noselect active" >Resultados</a>
      </li>                   
    </ul>
  </div>
  <div id="listainfo" class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="row d-flex align-items-center">
            <span class="question">Fecha:</span> <span class="mr-2 secondary-font">{{ cuesfecha }}</span>
          </div>
          <div class="row d-flex align-items-center">
            <span class="question">Empresa:</span> <span class="mr-2 secondary-font title">{{ cuesnomempresa }}</span>
          </div>
          <div class="row d-flex align-items-center">
            <span class="question">Área auditada:</span> <span class="mr-2 secondary-font">{{ cuesnomarea }}</span>
          </div>
          <div class="row d-flex align-items-center">
            <span class="question">Auditor:</span> <span class="mr-2 secondary-font">{{ cuesnomauditor }}</span>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row shadow m-2" *ngFor="let preg of preguntas; let i = index">
            <div class="p-1 col-2 bg-dark white text-center">
              <span class="question">{{i+1}}</span>
            </div>
            <div class="p-1 col-10" style="background: white;">
              <span class="pregunta">{{ preg.preguntatxt }}</span>
              <br>
              <span class="respuesta">- {{ preg.respuesta }}</span>
            </div>
          </div>
        </div>
        <div class="blank-space-sm"></div>
        <div class="col-12">
          <div *ngFor="let up of usuarioprincipal">
            <div *ngIf="up.tipo !=  'Empresa' "> 
              <div *ngIf="cuesresultado == '' ">
                <form class="row" #form="ngForm" novalidate>
                  <label class="col-12 text-center question">Calificar:</label> <br>
                  <div class="col-12 offset-lg-4 col-lg-4">
                    <div class="form-group" >
                      <select class="form-control-sm btn-block" id="resultado" name="resultado"
                      [(ngModel)]="cuestionario.resultado" required>
                        <option value="Aprobada">Aprobada</option>
                        <option value="Reprobada">Reprobada</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <button  [disabled]="!form.form.valid"  (click)="this.resultadocuestionario()"
                      class="btn-success-alt-sm btn-block">Calificar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blank-space-md"></div>
<div class="row">
  <div class="col-12 col-lg-4 offset-lg-4">
    <div *ngIf="cuesresultado != '' ">
      <button  (click)="this.generar()"
      class="btn-black-alt btn-block">Generar PDF</button>
    </div>
  </div>
</div>
<div class="blank-space"></div>