<body>

<div class="card  "> 
      <div class="card-body">        
        <h5 class="card-title"></h5>       
        <div class="row no-gutters">
          <div class="col-md-8 col-sm-8">
       
        
      </div>
      <div class="col-md-4 col-sm-4 ">
      <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=2048x2048:format=jpg/path/s8db0796033ca461a/image/i59241275261d0708/version/1524815958/image.jpg"
       class="card-img"  style="height: 100%;">
      </div>
    </div>
  </div>
</div>
<div class="alert alert-info" role="alert" *ngIf="myForm.invalid">
  Procure llenar <a href="" class="alert-link">TODOS</a> los campos
</div>
</body>